iner on base id math the remai only those coumns
right and left new atble has own id just join the table in left or right

In [2]:
import pandas as pd
import numpy as np

customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['John', 'Alice', 'Bob', 'Emma', 'David'],
    'country': ['USA', 'Canada', 'UK', 'USA', 'Canada']
})

# Creating DataFrame 2: Orders
orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 3, 2, 5, 6],  # Note: customer_id=6 does not exist in customers
    'product': ['Laptop', 'Smartphone', 'Headphones', 'Tablet', 'Monitor'],
    'amount': [1200, 800, 150, 300, 500]
})

In [3]:
new_data = pd.merge(customers, orders, on='customer_id', how='inner')
print(new_data)

   customer_id   name country  order_id     product  amount
0            1   John     USA       101      Laptop    1200
1            2  Alice  Canada       103  Headphones     150
2            3    Bob      UK       102  Smartphone     800
3            5  David  Canada       104      Tablet     300

In [4]:
new_data = pd.merge(customers, orders, on='customer_id', how='left')
print(new_data)

   customer_id   name country  order_id     product  amount
0            1   John     USA     101.0      Laptop  1200.0
1            2  Alice  Canada     103.0  Headphones   150.0
2            3    Bob      UK     102.0  Smartphone   800.0
3            4   Emma     USA       NaN         NaN     NaN
4            5  David  Canada     104.0      Tablet   300.0

In [5]:
new_data = pd.merge(customers, orders, on='customer_id', how='right')
print(new_data)

   customer_id   name country  order_id     product  amount
0            1   John     USA       101      Laptop    1200
1            3    Bob      UK       102  Smartphone     800
2            2  Alice  Canada       103  Headphones     150
3            5  David  Canada       104      Tablet     300
4            6    NaN     NaN       105     Monitor     500

In [8]:
new_data = pd.concat([customers, orders], axis=1)
print(new_data)

   customer_id   name country  order_id  customer_id     product  amount
0            1   John     USA       101            1      Laptop    1200
1            2  Alice  Canada       102            3  Smartphone     800
2            3    Bob      UK       103            2  Headphones     150
3            4   Emma     USA       104            5      Tablet     300
4            5  David  Canada       105            6     Monitor     500

In [10]:
new_data = pd.concat([customers, orders], axis=0)
print(new_data)

   customer_id   name country  order_id     product  amount
0            1   John     USA       NaN         NaN     NaN
1            2  Alice  Canada       NaN         NaN     NaN
2            3    Bob      UK       NaN         NaN     NaN
3            4   Emma     USA       NaN         NaN     NaN
4            5  David  Canada       NaN         NaN     NaN
0            1    NaN     NaN     101.0      Laptop  1200.0
1            3    NaN     NaN     102.0  Smartphone   800.0
2            2    NaN     NaN     103.0  Headphones   150.0
3            5    NaN     NaN     104.0      Tablet   300.0
4            6    NaN     NaN     105.0     Monitor   500.0