inconsistencies
format naming cnovetion
typographic 
duplicates

In [2]:
import pandas as pd
import random

data = {
    "date": ["2024-01-15", "01/16/2024", "15-01-2024", "2024/01/17", "16-01-24", 
             "2024.01.18", "17 Jan 2024", "01-18-2024", "18/01/24", "January 19, 2024"],
    "country": ["USA", "U.S.", "United States", "Canada", "CAN", 
                "United Kingdom", "UK", "U.K.", "United States", "USA"],
    "sales": [random.randint(100, 1000) for _ in range(10)]
}

df = pd.DataFrame(data)

# Extract year from different date formats
df["year"] = df["date"].str.extract(r'(\d{4})')  

print(df)

               date         country  sales  year
0        2024-01-15             USA    258  2024
1        01/16/2024            U.S.    367  2024
2        15-01-2024   United States    610  2024
3        2024/01/17          Canada    938  2024
4          16-01-24             CAN    405   NaN
5        2024.01.18  United Kingdom    182  2024
6       17 Jan 2024              UK    943  2024
7        01-18-2024            U.K.    907  2024
8          18/01/24   United States    431   NaN
9  January 19, 2024             USA    626  2024

In [8]:
df["date"] = pd.to_datetime(df["date"], errors='coerce', dayfirst=False)
df

        date         country  sales  year
0 2024-01-15             USA    258  2024
1        NaT            U.S.    367  2024
2        NaT   United States    610  2024
3        NaT          Canada    938  2024
4        NaT             CAN    405   NaN
5        NaT  United Kingdom    182  2024
6        NaT              UK    943  2024
7        NaT            U.K.    907  2024
8        NaT   United States    431   NaN
9        NaT             USA    626  2024

In [10]:
import pandas as pd

# Sample data
data = {
    "date": [
        "2024-01-15", "01/16/2024", "15-01-2024", "2024/01/17", "16-01-24", 
        "2024.01.18", "17 Jan 2024", "01-18-2024", "18/01/24", "January 19, 2024"
    ],
    "country": ["USA", "U.S.", "United States", "Canada", "CAN", 
                "United Kingdom", "UK", "U.K.", "United States", "USA"],
    "sales": [258, 367, 610, 938, 405, 182, 943, 907, 431, 626],
    "year": [2024, 2024, 2024, 2024, None, 2024, 2024, 2024, None, 2024]
}

df = pd.DataFrame(data)

# ðŸŸ¢ Step 1: Convert all date formats consistently (YYYY-MM-DD)
df["date"] = pd.to_datetime(df["date"], errors='coerce', infer_datetime_format=True).dt.strftime('%Y-%m-%d')

# ðŸŸ¢ Step 2: Standardize country names
country_mapping = {
    "U.S.": "USA", "United States": "USA", 
    "U.K.": "United Kingdom", "UK": "United Kingdom",
    "CAN": "Canada"
}
df["country"] = df["country"].replace(country_mapping)

# ðŸŸ¢ Step 3: Fill missing year values
df["year"] = df["date"].str[:4]  # Extract year from date

# ðŸŸ¢ Print final result
print(df)

         date         country  sales  year
0  2024-01-15             USA    258  2024
1         NaN             USA    367   NaN
2         NaN             USA    610   NaN
3         NaN          Canada    938   NaN
4         NaN          Canada    405   NaN
5         NaN  United Kingdom    182   NaN
6         NaN  United Kingdom    943   NaN
7         NaN  United Kingdom    907   NaN
8         NaN             USA    431   NaN
9         NaN             USA    626   NaN

C:\Users\theki\AppData\Local\Temp\ipykernel_6464\1097761652.py:18: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["date"] = pd.to_datetime(df["date"], errors='coerce', infer_datetime_format=True).dt.strftime('%Y-%m-%d')