In [48]:

from h11 import Data
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data_set = sns.load_dataset('titanic')
(data_set.isnull().sum()/len(data_set)*100).sort_values(ascending=False)
data_set.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [49]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data_set['deck_encoded'] = label_encoder.fit_transform(data_set['deck'].astype(str))

data_set.loc[data_set['deck'].isnull(), 'deck_encoded'] = np.nan  
imputer = KNNImputer(n_neighbors=5)
data_set[['deck_encoded']] = imputer.fit_transform(data_set[['deck_encoded']])
data_set['deck_encoded'] = data_set['deck_encoded'].round().astype(int)
data_set['deck'] = label_encoder.inverse_transform(data_set['deck_encoded'])
data_set.drop(columns=['deck_encoded'], inplace=True)
print(data_set)
print(data_set.isnull().sum())

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True    C  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False    C  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True    C  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True    C  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False    C  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True    C   Queenstown    no   True

[891 rows x 15 columns]
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck             0
embark_town      2
alive            0
alone            0
dtype: int64

In [50]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')

In [51]:
data_set["age"] = imputer.fit_transform(data_set["age"].values.reshape(-1,1))

In [52]:
data_set.isnull().sum().sort_values(ascending=False)

embarked       2
embark_town    2
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
class          0
who            0
adult_male     0
deck           0
alive          0
alone          0
dtype: int64

In [15]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
data_set1 = sns.load_dataset('titanic')
data_set1.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [17]:
inputer = IterativeImputer(max_iter=20 , n_nearest_features=6, )
data_set1["age"] = imputer.fit_transform(data_set1[['age']])
data_set1.isnull().sum().sort_values(ascending=False)
data_set1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [54]:
data_set1["deck"].unique()
data_set1["deck"].mode()
imputer = SimpleImputer(strategy="most_frequent")
data_set1[["deck"]] = imputer.fit_transform(data_set1[["deck"]])

In [53]:
data_set1.isnull().sum().sort_values(ascending=False)

embarked       2
embark_town    2
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
class          0
who            0
adult_male     0
deck           0
alive          0
alone          0
dtype: int64